* { padding: 0; margin: 0; box-sizing: border-box; font-family: sans-serif; }
body { background: #000; }

/* Cronometro */
/* contenedor */
.container {
	width: 90%;
	max-width: 400px;
	margin: 40px auto;
	user-select: none;
	color: #E1D8D8;
}

.chronometer {
	border: 1.5px solid #6C5DFFcc;
	border-radius: 5px;
	padding: 10px;
}

/* contador del cronometro */
.chronometer__counter {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.chronometer__counter-item {
	text-align: center;
	width: 60px;
	margin: 0 15px;
	font-size: 45px;
}



/* Botones */
.buttons {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.buttons__btn {
	width: 100px;
	padding: 10px 0;
	margin: 0 5px;
	border: none;
	background: #6C5DFFaa;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	font-family: tahoma;
	font-size: 1em;
}

.buttons__btn:hover { background: #6C5DFF; }
.buttons__btn:active { background: #4E3EEB; }

.buttons__btn[disabled] { color: #999; background-color: #6C5DFF55;}
.buttons__btn[disabled]:hover {background: #6C5DFF55;}


/* capturas de tiempo */
.captures {
	width: 300px;
	max-height: 280px;
	margin: 40px auto;
	margin-bottom: 0;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

.captures--active { outline: 1px solid #55f9; }

.captures__item {
	width: 100%;
	padding: 8px 0;
	text-align: center;
	letter-spacing: 4px;
	border-bottom: 1px solid #55f5;
}

.captures__item:last-child { border-bottom: none; }

.captures::-webkit-scrollbar { width: 10px; }

.captures::-webkit-scrollbar-thumb { background: #6C5DFF88; }
